.index-search {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 700px;
    height: 30%;
    transform: translateX(-50%);

    &__autocomplete{
        background: #fff;
        width: 100%;
        position: absolute;
        top: calc(100% + 2px);
        left: 0;

        &-item{
            width: 100%;
            padding: 3px 20px;
            cursor: pointer;
            white-space: nowrap;
            color: #333;
            &:hover {
                text-decoration: none;
                color: #fff;
                background-color: #9e0b0f;
            }
        }
    }

    &__container {
        display: flex;
        width: 100%;
        height: 36px;
    }

    &__select {
        line-height: 36px;
        position: relative;
        width: 136px;
        height: 36px;
        border-radius: 4px 0 0 4px;
        background: #fff;
    }

    &__filter {
        line-height: 36px;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: center;
        border-right: 1px solid #ccc;

        &::after {
            position: absolute;
            top: 50%;
            right: 9px;
            display: block;
            width: 0;
            height: 0;
            margin-top: -2px;
            margin-left: 2px;
            content: '';
            vertical-align: middle;
            border-top: 4px dashed #333;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }

    &__list {
        position: absolute;
        top: 38px;
        width: 100%;
        background: #fff;
    }

    &__item {
        width: 100%;
        padding: 4px 8px;
        cursor: pointer;
        transition: 0.4s;
        text-align: center;

        &:hover {
            background: #ccc;
        }
    }

    &__input {
        position: relative;
        width: 75%;

        input {
            width: 100%;
            height: 36px;
            padding-left: 20px;
            border: none;
            background: #fff;
        }
    }

    &__tabs {
        position: absolute;
        bottom: 100%;
        left: 0;
        display: flex;
        align-items: flex-end;
    }

    &__tab {
        font-size: 14px;
        padding: 6px 25px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 3px 3px 0 0;
        background: #fff;

        &_active {
            padding: 8px 25px;
            color: #fff;
            border-color: #9e0b0f;
            background: #9e0b0f;
        }
    }

    &__btn {
        position: relative;
        width: 80px;
        height: 36px;
        cursor: pointer;
        border: none;
        border-radius: 0 4px 4px 0;
        background: #9e0b0f;

        &_load {
            &::after {
                position: absolute;
                z-index: 2000;
                top: 50%!important;
                left: 50%!important;
                margin: -13px 0 0 -11px !important;
                content: '';
                -webkit-transition: 0.4s;
                transition: 0.4s;
                -webkit-animation: loadingSpinner 0.7s infinite linear;
                animation: loadingSpinner 0.7s infinite linear;
                border: 4px solid #fff;
                border-top-color: transparent;
                border-left-color: transparent;
                border-radius: 50%;
                background: transparent!important;
            }
        }

        i{
            color: #fff;
            font-size: 16px;
        }
    }
}
@-webkit-keyframes loadingSpinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loadingSpinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
